LASTFM_USERNAME=soap
LASTFM_API_KEY=1234
LASTFM_API_SECRET=4567
BSKY_USERNAME=username_or_email
BSKY_APP_PASSWORD=app-pass-word
WEBHOOK_API_KEY=any-randomly-generated-password-without-special-characters
